
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 1024px;
    margin: 0;
}

/* Header */

.header {
    position: absolute;
    width: 1540px;
    height: 100px;
    top: 0;
    background-color: #f5f5ff;;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 50px; 
    padding: 0 180px;
    border-bottom: 1px solid #ECEEEB;
}

.verctor-img {
    width: 20px;  
    height: 20px;
    opacity: 1; 
    object-fit: contain; 
    border-radius: 50%; 
}

.header span{
    text-align: center;
    color: #000000;
    font-weight: bold;
}

header a {
    position: absolute; 
    color: #6F6FFF; 
    left: 400px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    overflow: hidden;
    z-index: 1; 
}

header a::before {
    content: "";
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 80%;
    height: 60%; 
    background-color: #5552D9; 
    opacity: 0.2;
    border-radius: 5px; 
    z-index: 1; 
}

/* Header */

/* Body */

.box {
    position: absolute;
    width: 700px;
    height: 600px; 
    top: 150px;
    background-color: #FFFFFF33;
    border: 2px solid #EFF0F6;
    border-radius: 10px;
    backdrop-filter: blur(10px); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
    margin: 20px; 
    z-index: 1;
}

.box_header {
    position: absolute;
    width: 600px;
    height: 80px;
    top: 0px;
    display: flex; 
    align-items: center; 
    justify-content: center;  
    border-bottom: 1px solid #D9DBE9;
}

.phase{
    position: absolute;
    top: 20px;
    display: flex; 
    align-items: center; 
    justify-content: center;  
    gap: 20px;
}

.phase1{
    background-color: #4A3AFF;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.phase2{
    background-color: #EFF0F6;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: #6F6C90;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.phase3{
    background-color: #EFF0F6;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: #6F6C90;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.phase4{
    background-color: #EFF0F6;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: #6F6C90;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.rectangle_full{
    background-color: #4A3AFF;
    right: 0px;
    width: 50px;
    height: 10px;
    border-radius: 10px;
}


.rectangle1{
    background-color: #EFF0F6;
    width: 100px;
    height: 10px;
    border-radius: 10px;
}

.rectangle2{
    background-color: #EFF0F6;
    width: 100px;
    height: 10px;
    border-radius: 10px;
}


.rectangle3{
    background-color: #EFF0F6;
    width: 100px;
    height: 10px;
    border-radius: 10px;
}

.leftband1 {
    position: absolute;
    background-color: #B7B0FF;
    opacity: 40%;
    top: 570px;
    left: -10px;
    width: 400px; 
    height: 80px; 
    transform: rotate(-10deg);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    z-index: 0;
}

.leftband2 {
    position: absolute;
    background-color: rgba(74, 58, 255, 0.7);
    bottom: 275px;
    left: -10px;
    width: 200px; 
    height: 80px; 
    transform: rotate(-10deg);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    z-index: 0;
}

.rightband1 {
    position: absolute;
    background-color: #B7B0FF;
    opacity: 40%;
    top: 420px;
    right: -48px;
    width: 700px; 
    height: 80px; 
    transform: rotate(-10deg);
    clip-path: polygon(5% 0%, 100% 0, 100% 100%, 0 100%);
    z-index: 0;
}

.rightband2 {
    position: absolute;
    background-color: rgba(74, 58, 255, 0.7);
    top: 320px;
    right: -55px;
    width: 500px; 
    height: 80px; 
    transform: rotate(-10deg);
    clip-path: polygon(5% 0%, 100% 0, 100% 100%, 0 100%);
    z-index: 0;
}

.rightband3 {
    position: absolute;
    background-color: #F4EBFF;
    bottom: 490px;
    right: -60px;
    width: 190px; 
    height: 80px; 
    transform: rotate(-10deg);
    clip-path: polygon(5% 0%, 100% 0, 100% 100%, 0 100%);
    z-index: 0;
}


.box_body {
    position: relative;
    width: 700px;
    height: 600px;
    bottom: 0px;
    display: flex; 
    align-items: center; 
    justify-content: center;  
    border-bottom: 1px solid #D9DBE9;
}


.box_body h2{
    position: absolute;
    font-family: Inherit;
    font-weight: normal;
    width: 400px;
    height: 20px;
    top: 120px;
    left: 30px;
    display: flex; 
    justify-content: flex-start;  
}


.box_body p {
    position: absolute;
    font-family: Inherit;
    width: 380px;
    height: 40px;
    color: #8A8A8A;
    top: 160px;
    left: 30px;
    display: flex; 
    justify-content: flex-start;  
}


.box_form{
    position: absolute;
    width: 600px;
    height: 400px;
    bottom: 0px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 10px;
}

.frame1 {
    position: absolute;
    top: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 600px;
    height: 108px;
    margin: 0 auto;
    padding: 20px; 
}

.form-group {
    display: flex;
    font-family: Inherit;
    flex-direction: column; 
    align-items: flex-start; 
}

.form-group label {
    margin-bottom: 15px; 
    margin-right: 50px; 
    font-size: 16px; 
}

.form-group input {
    width: 265px; 
    height: 35px;
    padding: 10px; 
    background-color: #ffffff;
    border: 1px solid #E1E3E6; 
    border-radius: 8px; 
    font-size: 16px; 
}

.frame2 {
    position: absolute;
    display: flex;
    font-family: Inherit;
    flex-direction: column; 
    align-items: flex-start; 
    top: 120px;
    gap: 10px;
    width: 600px;
    height: 258px;
    margin: 0 auto;
    padding: 20px; 
    border-radius: 10px; 
}


.address2{
    width: 560px; 
    height: 35px;
    padding: 10px; 
    background-color: #ffffff;
    border: 1px solid #E1E3E6; 
    border-radius: 8px; 
    font-size: 16px; 
}

.city{
    position: absolute;
    width: 265px; 
    height: 30px;
    top: 95px;
    padding: 10px; 
    background-color: #ffffff;
    border: 1px solid #E1E3E6; 
    border-radius: 8px; 
    font-size: 16px; 
}


.zip{
    position: absolute;
    width: 265px; 
    height: 30px;
    top: 95px;
    right: 20px;
    padding: 10px; 
    background-color: #ffffff;
    border: 1px solid #E1E3E6; 
    border-radius: 8px; 
    font-size: 16px; 
}


.box_form button{
    position: absolute;
    width: 560px; 
    height: 35px;
    bottom: 95px;
    color: #ffffff;
    background-color: #4A3AFF;
    border: 1px solid #E1E3E6; 
    border-radius: 8px; 
    transition: background-color 0.3s ease;
}

.box_form button:hover {
    background-color: #ffffff; 
    color: #000000;
    border: 1px solid #B0B3B6; 
}

/* Body */
